<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>本地/特菜</key>
		<array>
			<string>全部</string>
		</array>
	</dict>
	<dict>
		<key>蔬菜</key>
		<array>
			<string>叶菜</string>
			<string>茄果类</string>
			<string>根茎类</string>
			<string>豆类</string>
			<string>花菜类</string>
			<string>食用菌</string>
			<string>葱姜蒜</string>
		</array>
	</dict>
	<dict>
		<key>禽蛋绒类</key>
		<array>
			<string>禽蛋</string>
			<string>猪肉</string>
			<string>家禽</string>
		</array>
	</dict>
	<dict>
		<key>冻品</key>
		<array>
			<string>速冻面点</string>
			<string>速冻海鲜</string>
			<string>鸭副类</string>
			<string>鸡副类</string>
			<string>羊副类</string>
			<string>猪副类</string>
			<string>油炸烧烤</string>
			<string>方便菜</string>
			<string>牛副类</string>
		</array>
	</dict>
	<dict>
		<key>米面粮油</key>
		<array>
			<string>面粉/面食</string>
			<string>食用油</string>
			<string>大米</string>
		</array>
	</dict>
	<dict>
		<key>豆制品类</key>
		<array>
			<string>豆制品</string>
			<string>年糕</string>
		</array>
	</dict>
	<dict>
		<key>水发类</key>
		<array>
			<string>全部</string>
		</array>
	</dict>
	<dict>
		<key>干货调料</key>
		<array>
			<string>调味品</string>
			<string>干货</string>
			<string>腌菜罐头</string>
			<string>酱料品</string>
		</array>
	</dict>
	<dict>
		<key>厨卫用品</key>
		<array>
			<string>全部</string>
		</array>
	</dict>
	<dict>
		<key>水果</key>
		<array>
			<string>全部</string>
		</array>
	</dict>
</array>
</plist>
